.events-comp{
    position: relative;
    border: 0.1rem solid var(--color-text);
    border-radius: 1rem;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    cursor: pointer;
    background: var(--color-bg);
}

.events-comp > *{
    padding: 1rem;
}

.events-comp .bg-icon{
    position: absolute;
    top: -200%;
    right: 0px;
    width: 50%;
    height: auto;
    transform: translateY(20%);
    transition: transform 400ms ease;
}

.events-comp:hover .bg-icon{
    transform: translateY(0px);
}

.events-comp .left-side{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
    background: color-mix(in srgb, var(--color-primary) 20%, transparent);
    transition: background 100ms ease;
}

.events-comp:hover .left-side{ background: var(--color-primary); }

.events-comp .left-side .time{ white-space: nowrap;}

.events-comp .left-side .type,
.events-comp .right-side .other-info h6{ 
    opacity: 0.7; 
}

.events-comp .right-side{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    border-left: 0.1rem solid var(--color-text);
    width: 100%;
}

.events-comp .right-side .heading-info{
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.events-comp .right-side .heading-info .joined{
    position: absolute;
    top: 0px;
    right: 0px;
}

.events-comp .right-side .heading-info .tags{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    flex-wrap: wrap;
}

.events-comp .right-side .other-info{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

@media (max-width: 1024px) {
    .events-comp .right-side .heading-info{
        flex-direction: column;
        gap: 0.2rem;
    }
}

@media (max-width: 540px) {
    .events-comp .right-side .heading-info .tags{ 
        display: none;
    }
}

@media (max-width: 420px) {
    .events-comp .right-side .other-info .hosted-by{
        display: none;
    }
}