.notif-comp{
    display: flex;
    flex-direction: row;
    padding: 0.5rem;
    gap: 1rem;
    border-top: 0.1rem solid var(--color-text);
    border-bottom: 0.1rem solid var(--color-text);
    background: var(--color-bg);
    cursor: pointer;
    justify-content: space-between;
}

.notif-comp:hover{
    border-color: var(--color-primary);
}

.notif-comp .left-side{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
}

.notif-comp .left-side img{
    border-radius: 999px;
    border: 0.1rem solid var(--color-text);
    width: 3rem;
    height: 3rem;
    object-fit: cover;
    aspect-ratio: 1 / 1;
}
.notif-comp .left-side p{
    line-height: 1.4;
}

.notif-comp .left-side .heading-font{
    font-family: var(--font-heading);
    font-size: clamp(1.2rem, 1.7vw, 1.5rem);
}

.notif-comp .left-side .notif-content{
    display: flex;
    flex-direction: column;
}

.notif-comp .left-side .notif-content .date{
    opacity: 0.6;
    font-size: clamp(0.6rem, 0.6rem + 0.4vw, 0.8rem);
}

.notif-comp .right-side{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.notif-comp .right-side .notif-close-btn{
    position: relative;
    top: 0px;
    right: 0px;
}

.notif-comp .right-side .notif-close-btn svg{
    width: 1rem;
    height: auto;
}