.modify-club{
    max-width: 600px;
}

.modify-club .message{
    color: var(--color-red);
}

.modify-club .image-edit{
    display: grid;
    border: 0.2rem solid var(--color-text);
    overflow: hidden;
}

.modify-club .image-edit > *{
    grid-area: 1 / 1;
}

.modify-club .input-cont{
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    align-self: stretch;
    justify-self: stretch;
    background: rgba(0, 0, 0, 0.3);
}

.modify-club .input-cont input{
    width: 50%;
}

.modify-club .banner{
    width: 100%;
}

.modify-club .banner .input-cont{ width: auto; }

.modify-club .banner-crop{
    overflow: hidden;
    height: min(200px, 30vh);
    width: 100%;
    padding: 0px; 
    margin: 0px;
    border: none;
}

.modify-club .banner img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    align-self: stretch;
    justify-self: stretch;
}

.modify-club .profile-pic{
    position: absolute;
    top: -30%;
    left: 0.5rem;
    border-radius: 999px;
    width: 30%;
    z-index: 78;
}

.modify-club .profile-pic img{
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

.modify-club .content{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.modify-club .content .name{
    font-family: var(--font-heading);
    font-size: 2rem;
    border: none;
    width: 60%;
    margin-left: auto;
    border-bottom: 0.2rem solid var(--color-text);
}

.modify-club .club-level{
    z-index: 80;
}

.modify-club .content .is-public{
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1;
    gap: 1rem;
    padding: 0px 1rem;
}

.modify-club .content .btns-cont{
    display: flex;
    width: 100%;
    flex-direction: row;
}

.modify-club .content .btns-cont button{
    width: 100%;
    opacity: 0.5;
}

.modify-club .content .btns-cont button.active{
    opacity: 1;
}