.modify-club{
    max-width: 600px;
}

.modify-club .message{
    color: var(--color-red);
}

.modify-club .image-edit{
    display: grid;
    border: 0.1rem solid var(--color-text);
    overflow: hidden;
}

.modify-club .image-edit > *{
    grid-area: 1 / 1;
}

.modify-club .input-cont{
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    align-self: stretch;
    justify-self: stretch;
    background: rgba(0, 0, 0, 0.3);
}

.modify-club .input-cont input{
    width: 50%;
}

.modify-club .banner{ 
    border-radius: 2rem; 
    min-height: 200px;
}

.modify-club .banner .input-cont{ width: auto; }

.modify-club .banner-crop{
    overflow: hidden;
    height: min(200px, 30vh);
    width: 100%;
    padding: 0px; 
    margin: 0px;
    border: none;
}

.modify-club .banner img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    align-self: stretch;
    justify-self: stretch;
}

.modify-club .profile-pic{
    position: absolute;
    top: -25%;
    left: 0.5rem;
    border-radius: 999px;
    width: 30%;
    z-index: 78;
}

.modify-club .profile-pic img{
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

.modify-club .content{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.modify-club .content .name{
    font-family: var(--font-heading);
    font-size: 2rem;
    border: none;
    border-radius: 0px;
    width: 55%;
    margin-left: auto;
    margin-right: 2rem;
    border-bottom: 0.1rem solid var(--color-text);
}

.modify-club .content .inner-box{
    max-width: 60ch;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-self: center;
}

.modify-club .content .club-level{
    z-index: 80;
    display: flex;
    flex-direction: row;
    margin: 0px auto;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.modify-club .content .club-privacy{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 1rem;
}

.modify-club .content .club-privacy .btns-cont{
    display: flex;
    width: min-content;
    flex-direction: row;
}

.modify-club .content .club-privacy .btns-cont button:first-child{
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.modify-club .content .club-privacy .btns-cont button:last-child{
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.modify-club .content .btns-cont button{
    background: color-mix(in srgb, var(--color-primary) 20%, transparent);
}

.modify-club .content .btns-cont button:hover{
   background: color-mix(in srgb, var(--color-accent) 20%, transparent);
}

.modify-club .content .btns-cont button.active{
    background: var(--color-primary);
}

.modify-club .content .btns-cont button.active:hover{
    background: var(--color-accent);
}

.modify-club .content .privacy-desc{
    text-align: center;
}

@media (max-width: 640px){ .modify-club .profile-pic{ top: -20%; } }
@media (max-width: 640px){ .modify-club .profile-pic{ top: -15%; } }
@media (max-width: 380px){ 
    .modify-club .profile-pic{ 
        top: -15%;
        width: 40%;
    } 

    .modify-club .content .name{ width: auto; margin: auto; margin-top: 3rem; }
}