.container:has(.opened-club){
    align-items: end;
}

.opened-club{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 85vh;
    margin: 0px;
    gap: 1rem;
    border-radius: 4rem 4rem 0px 0px;
    border-bottom: none;
    overflow-y: scroll;
    overflow-x: hidden;
    justify-content: start;
}

.opened-club .top-right-cont{
    display: flex;
    flex-direction: row;
    position: sticky;
    align-self: flex-end;
    top: 0px;
    background: var(--color-primary);
    border-radius: 1.5rem;
    border: 0.1rem solid var(--color-text);
    align-items: center;
    justify-content: center;
    margin: -1.8rem 0px;
}

.opened-club .top-right-cont .close, .opened-club .top-right-cont .more{
    padding: 0.3rem;
}

.opened-club .top-right-cont button .more-icon:hover,
.opened-club .top-right-cont button .close-icon:hover{
    fill: var(--color-text);
    color: var(--color-text);
    stroke: var(--color-text);
}

.opened-club .top-right-cont .close{
    position: relative;
    top: 0;
    right: 0;
}

.opened-club .top-right-cont .more-cont{
    position: relative;
}

.opened-club .more-options-content{
    position: absolute;
    top: 100%;
    right: 0px;
    display: flex;
    flex-direction: column;
    width: auto;
    align-items: center;
    justify-content: center;
}

.opened-club .more-options-content button{ 
    width: 100%; 
    white-space: nowrap;
}

.opened-club .more-options-content button:first-child{
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.opened-club .more-options-content button:last-child{
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.opened-club .banner{
    display: flex;
    width: 99%;
    min-height: min(400px, 30vh);
    max-height: min(400px, 30vh);
    border: 0.1rem solid var(--color-text);
    border-radius: 3rem;
    overflow: hidden;
}

.opened-club .banner img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    align-self: stretch;
    justify-self: stretch;
}

.opened-club .width-bound{
    display: flex;
    flex-direction: column;
    max-width: 110ch;
    width: 100%;
}

.opened-club .content{
    position: relative;
    gap: 1rem;
}

.opened-club .content .modify-club-cont{
    position: absolute;
    top: 0px;
    right: 1rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.opened-club .content .profile-pic{
    position: absolute;
    top: -50%;
    left: 2rem;
    border-radius: 999px;
    border: 0.1rem solid var(--color-text);
    width: max(100px, 25%);
    min-width: 120px;
    height: auto;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

.opened-club .content .headers{
    width: 65%;
    margin-left: auto;
    display: flex;
    flex-direction: column;
}

.opened-club .content .club-attributes{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.opened-club .content .desc{
    padding: 1rem 0px;
}

.opened-club .club-tab-cont .tabs{
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-self: center;
    margin-top: 1rem;
    gap: 0.5rem;
    padding: 0.5rem;
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    scrollbar-width: none;
}

.opened-club .club-tab-cont .tabs > * { flex-shrink: 0; }

.opened-club .club-tab-cont .tab-content{
    border-top: 0.1rem solid var(--color-text);
}

@media (max-width: 640px){
    .opened-club{
        height: 90vh;
    }

    .opened-club .content .headers{ 
        margin-top: 2.5rem; 
        width: 100%;
        padding: 0px 1rem;
    }

    .opened-club .content .profile-pic{ 
        top: -40%;
        left: 1rem;
    }

    .opened-club .content .modify-club-cont{ 
        gap: 0.5rem; 
        flex-direction: column-reverse;
        right: 0px;
    }

    .opened-club .banner{
        display: flex;
        width: 99%;
        min-height: min(200px, 30vh);
        max-height: min(200px, 30vh);
    }

    .opened-club .content .headers{
        padding-top: 1rem;
    }
}