.edit-user-popup .profile-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.edit-user-popup .profile-pic-cont{
    position: relative;
    display: grid;
    align-items: center;
    justify-content: center;
    border-radius: 999px;
    border: 0.2rem solid var(--color-text);
    overflow: hidden;
    width: min(250px, 40%);
    height: auto;
}

.edit-user-popup .profile-pic-cont > *{
    grid-area: 1 / 1;
}

.edit-user-popup .profile-pic-cont .input-cont{
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.3);
    z-index: 10;
    height: 100%;
    width: 100%;
}

.edit-user-popup .profile-pic-cont input{
    position: relative;
    margin: auto;
    width: 50%;
}

.edit-user-popup .profile-pic{
    position: relative;
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    place-items: center;
    z-index: 5;
}

.edit-user-popup .line-input-cont{
    display: flex;
    flex-direction: column;
    margin: 1rem;
    align-items: center;
}

.edit-user-popup .line-input-cont .tag{
    opacity: 0.7;
}

.edit-user-popup .username{
    display: block;
    font-family: var(--font-heading);
    font-size: 3rem;
    text-align: center;
    height: fit-content;
    border: none;
    border-bottom: 0.2rem solid var(--color-text);
    border-radius: 0px;
}

.edit-user-popup .desc{
    height: max-content;
    border-color: var(--color-text);
    width: 40ch;
}

@media (max-width: 1024px){
    .edit-user-popup .profile-header{
        flex-direction: column;
    }

    .edit-user-popup .username{
        font-size: 2rem;
        padding: 0.3rem;
    }

    .edit-user-popup .line-input-cont{
        margin: 0.5rem;
    }

    .edit-user-popup .desc{ width: 100%; }
}