.sign-action .content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.sign-action .input-pair{
    width: 90%;
}

.sign-action .message{
    text-align: center;
    color: var(--color-primary);
}

.sign-action .message.invalid{
    color: var(--color-red);
}