.user-info-comp{
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 3rem;
}

.user-info-comp .edit{
    display: flex;
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: fit-content;
}

.user-info-comp .content{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.user-info-comp .profile-pic-cont{
    position: relative;
    display: grid;
    align-items: center;
    justify-content: center;
    border-radius: 999px;
    border: 0.2rem solid var(--color-text);
    overflow: hidden;
    width: 300px;
}

.user-info-comp .profile-pic-cont > *{
    grid-area: 1 / 1;
}

.user-info-comp .profile-pic-cont .input-cont{
    display: none;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.3);
    z-index: 10;
    height: 100%;
    width: 100%;
}

.user-info-comp .profile-pic-cont .input-cont.editing{ display: flex; }

.user-info-comp .profile-pic-cont input{
    position: relative;
    margin: auto;
    width: 50%;
}

.user-info-comp .profile-pic{
    position: relative;
    width: 300px;
    height: auto;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    place-items: center;
    z-index: 5;
}

.user-info-comp .main-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.user-info-comp .main-content > *{
    width: 100%;
    pointer-events: none;
}

.user-info-comp .main-content .username{
    font-family: var(--font-heading);
    font-size: 2rem;
    text-align: center;
    border: none;
    border-bottom: 0.2rem solid transparent;
}

.user-info-comp .main-content .username.editing{
    border-color: var(--color-text);
    pointer-events: auto;
}

.user-info-comp .main-content .desc{
    height: max-content;
    border-color: transparent;
}

.user-info-comp .main-content .desc.editing{
    border-color: var(--color-text);
    pointer-events: auto;
}

.user-info-comp .btns{
    display: none;
    flex-direction: column;
    gap: 1rem;
}

.user-info-comp .btns.self{
    display: flex;
}

.user-info-comp .save-btn{
    opacity: 0;
    pointer-events: none;
}

.user-info-comp .save-btn.editing{
    opacity: 1;
    pointer-events: auto;
}