.user-header-cont{
    display: flex;
    flex-direction: row;
    padding: 0.5rem;
    gap: 1rem;
    border: 0.1rem solid var(--color-text);
    background: var(--color-bg);
    cursor: pointer;
}

.user-header-cont:hover{
    border-color: var(--color-primary);
}

.user-header-cont .user-profile-pic{
    border-radius: 999px;
    border: 0.1rem solid var(--color-text);
    width: 3rem;
    height: 3rem;
    object-fit: cover;
    aspect-ratio: 1 / 1;
}

.user-header-cont .user-body{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.user-header-cont .user-content{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.user-header-cont .user-content .club-content{
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.user-header-cont .user-content .club-content h6{
    opacity: 0.7;
}

.user-header-cont .req-btns-cont{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}